<mat-card>
  <button
    mat-button
    class="remove__control__button"
    (click)="removeFormControl()"
    [disabled]="isRemoveControlButtonDisabled"
  >
    <mat-icon>clear</mat-icon>
  </button>
  <form [formGroup]="form" autocomplete="off" novalidate>
    <div fxLayoutAlign="space-between center" fxLayoutGap="20">
      <app-autocomplete
        [formControlName]="formControls.deviceType"
        [deviceTypes]="deviceTypes"
        [isUseIcons]="true"
        [isRequired]="true"
        label="Device Type:"
      ></app-autocomplete>
      <mat-form-field [style.width.px]=320>
        <mat-label>Device Model:</mat-label>
        <input matInput [formControlName]="formControls.deviceModel" required>
        <mat-error
          *ngIf="form.controls[formControls.deviceModel].hasError('required')">
          Please, choose device model
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form__control__textarea">
        <mat-label>Defect Description</mat-label>
        <textarea matInput [formControlName]="formControls.deviceDefectDescription" rows="5"></textarea>
      </mat-form-field>
      <mat-form-field class="form__control__textarea">
        <mat-label>Defect State</mat-label>
        <textarea matInput [formControlName]="formControls.deviceStateDescription" rows="2"></textarea>
      </mat-form-field>
    </div>
    <mat-checkbox value="after" [formControlName]="formControls.isHasPassword">Has Password</mat-checkbox>
    <ng-container [formArrayName]="formControls.password" *ngFor="let _ of passwordFormControlArray.controls; index as passwordIndex">
      <mat-form-field [style.width.px]=320>
        <mat-label>Password</mat-label>
        <input matInput [formControlName]="passwordIndex"/>
      </mat-form-field>
    </ng-container>
  </form>
</mat-card>
