<mat-card>
  <form [formGroup]="form" autocomplete="off" novalidate>
    <div fxLayoutAlign="space-between flex-end" fxLayoutGap="20">
      <app-autocomplete
        [formControlName]="formControls.deviceType"
        [deviceTypes]="deviceTypes"
        [isUseIcons]="true"
        [isRequired]="true"
        label="Device Type:"
      ></app-autocomplete>
      <mat-form-field>
        <mat-label>Device Brand</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          matInput
          required
          [formControlName]="formControls.deviceBrand"
          [matAutocomplete]="auto"
          [errorStateMatcher]="errorState"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let deviceBrand of autoCompleteFilteredOptions | async" [value]="deviceBrand">
            {{deviceBrand.listItemValue}}
          </mat-option>
        </mat-autocomplete>
        <mat-error
          *ngIf="form.controls[formControls.deviceBrand].hasError('required')">
          Please, choose device brand
        </mat-error>
      </mat-form-field>
      <mat-form-field [style.width.px]=260>
        <mat-label>Device Model:</mat-label>
        <input matInput [formControlName]="formControls.deviceModel" [errorStateMatcher]="errorState" required/>
        <mat-error
          *ngIf="form.controls[formControls.deviceModel].hasError('required')">
          Please, add device model
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form__control__textarea">
        <mat-label>Defect Description</mat-label>
        <textarea matInput [formControlName]="formControls.deviceDefectDescription" rows="5"></textarea>
      </mat-form-field>
      <mat-form-field class="form__control__textarea">
        <mat-label>Device State</mat-label>
        <textarea matInput [formControlName]="formControls.deviceStateDescription" rows="2"></textarea>
      </mat-form-field>
    </div>
    <div fxLayoutGap="20px">
      <mat-checkbox value="after" [formControlName]="formControls.isHasPassword">Has Password</mat-checkbox>
      <ng-container [formArrayName]="formControls.password" *ngFor="let _ of passwordFormControlArray.controls; index as passwordIndex">
        <mat-form-field [style.width.px]=320>
          <mat-label>Password</mat-label>
          <input matInput [formControlName]="passwordIndex"/>
        </mat-form-field>
      </ng-container>
    </div>
  </form>
</mat-card>
