$primary-blue: #1775bb;
$primary-blue-darken: darken( #1775bb, 10);
$primary-orange: #f09f4e;
$primary-orange-darken: darken(#f09f4e, 15);
$primary-white: #fdfaf3;
$primary-grey: #A2ACBD;
$primary-grey-dark: #3E4756;
